@media(min-width: 1000px) {
    .dashboard {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        max-width: 1100px;
        margin: auto;
    }

    .card{
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }

    .profile-card{
        grid-row: 1 / 3;
        height: 100%;
        display : flex;
        flex-direction: column;
    }

    .profile{
        flex-direction: column;
        align-items: flex-start;
        padding: 30px;
        flex: 1;
        justify-content: start;
    }
    
    .nome-do-perfil p{
        font-size: 16px;
    }
    .nome-do-perfil h2{
        font-size: 28px;
        font-weight: 300;
    }
    .time-frames{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        padding: 20px 30px;
    }
    .time-frames button{
        font-size: 14px;
       
        padding: 5px 0;
    }
    .time-frames button:hover{
        opacity: 1;
        transition: opacity 0.3s;
    }
    .card-info{
        gap:30px;
        border-radius: 13px;

    }
    .card-info:hover{
        background-color: var(--purple-blue);
        transition: background-color 0.3s;
        cursor: pointer;
    }
    .card-info .timer{
        flex-direction: column;
        align-items: flex-start;
    }

    .card-info .timer .current{
        font-size: 42px;
    }
    .card-info .timer .previous{
        font-size: 12px;
    }
}