@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('variables.css');
body{
    font-family: 'Rubik', sans-serif;
    background-color: var(--very-dark-blue);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
.dashboard{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.card{
    width: 90%;
    background-color: var(--dark-blue);
    border-radius: 15px;
}
.profile{
    background-color: var(--purple);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
}
.profile img{
    border: 3px solid white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
.profile .nome-do-perfil p{
    font-size: 12px;
    opacity: 0.7;
    
}
.nome-do-perfil h2{
    font-size: 16px;
    font-weight: 400;
}
.time-frames{
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.time-frames button{
    color: var(--softblue);
    opacity: 0.7;
    font-size: 14px;
    cursor: pointer;
    padding: 20px;
}
.time-frames .btn-active{
    color: white;
    opacity: 1;
}
.work{
    background-color: var(--orange);
    background-image: url(../images/icon-work.svg);
    background-repeat: no-repeat;
    background-position: top -10px right 15px;

}

.activity-card{
    padding-top: 40px;
}

.card-info{
    background-color: var(--dark-blue);
    border-radius: 15px;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.card-info .header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-info .header h3{
    font-size: 16px;
    font-weight: 500;
}
.card-info .header img{
    cursor: pointer;
}

.card-info .timer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-info .timer .current{
    font-size: 32px;
    font-weight: 300;
}
.card-info .timer .previous{
    font-size: 16px;
    color:  var(--softblue);
    opacity: 0.7;
}