:root {
    --purple: hsl(246, 80%, 60%);
    --orange: hsl(15, 100%, 70%);
    --blue: hsl(195, 74%, 62%);
    --pink: hsl(348, 100%, 68%);
    --green: hsl(145, 58%, 55%);
    --purple-dark: hsl(264, 64%, 52%);
    --yellow-dark: hsl(43, 84%, 65%);
    --very-dark-blue: hsl(226, 43%, 10%);
    --dark-blue: hsl(235, 46%, 20%);
    --purple-blue: hsl(235, 45%, 61%);
    --softblue: hsl(236, 100%, 87%)
}